header {
    background-color: rgb(92, 91, 91);
    padding: 5px 0;
    font-size: 1.2em;
    font-weight: bold;
    color: #fff;
    box-shadow: 0 1px 3px 1px #000;
}

.site-navigation {
    margin: 0 auto;
    width: 300px;
    display: flex;
    justify-content: space-around;
}

.site-navigation a {
    text-decoration: none;
    color: #fff;
}

.site-navigation a:hover,
.active {
    color: rgb(76, 0, 130) !important;
    cursor: pointer;
    text-shadow: 0 0 10px #fff, 2px 1px 1px #000;
}